<div class="container">
  <ul>
    <li
      *ngFor="let info of data"
      (mouseenter)="setActiveTitle(info.title)"
      (mouseleave)="setActiveTitle('')"
    >
      <a
        class="link"
        routerLink="{{ info.title | lowercase }}"
        [ngClass]="{ active: info.title === activeTitle }"
        >{{ info.title }}</a
      >
      <fa-icon
        *ngIf="info.subcategory.length > 0"
        [icon]="angleDown"
        class="icon"
      ></fa-icon>
      <app-dropdown
        *ngIf="activeTitle === info.title && info.subcategory.length > 0"
        class="dropdown"
        [subcategory]="info.subcategory"
      ></app-dropdown>
    </li>
  </ul>
</div>
<!-- *ngIf="activeTitle === info.title" -->
