<div class="container">
  <div class="card">
    <h4 class="title">Default Accordion</h4>
    <p>Use class <code>.accordion</code> for basic accordion</p>
    <ul>
      <li>
        <label for="first"
          ><h6>How can I pay for an order I placed?</h6>
        </label>
        <input type="radio" name="accordion" id="first" checked />
        <div class="content">
          <p>
            You can pay for the product you have purchased using credit cards,
            debit cards, or via online banking. We also provide cash-on-delivery
            services.
          </p>
        </div>
      </li>
      <li>
        <label for="second"
          ><h6>How can I pay for an order I placed?</h6>
        </label>
        <input type="radio" name="accordion" id="second" />
        <div class="content">
          <p>
            You can pay for the product you have purchased using credit cards,
            debit cards, or via online banking. We also provide cash-on-delivery
            services.
          </p>
        </div>
      </li>
      <li>
        <label for="third"
          ><h6>How can I pay for an order I placed?</h6>
        </label>
        <input type="radio" name="accordion" id="third" />
        <div class="content">
          <p>
            You can pay for the product you have purchased using credit cards,
            debit cards, or via online banking. We also provide cash-on-delivery
            services.You can pay for the product you have purchased using credit
            cards, debit cards, or via online banking. We also provide
            cash-on-delivery services.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
