h3, h4 {
    margin-bottom: 15px;
}

.input-wrapper {
    margin-bottom: 10px;
}

.input-wrapper:not(.radio-wrap) {
    display: flex;
    flex-direction: column;
}

input:not([type='radio']) {
    width: 100%;
    height: 30px;
}

button[type='submit'] {
    margin-right: 5px;
}